---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro";
import Section from "../components/Section.astro";
import Card from "../components/Card.astro";
import Project from "../components/Project.astro";
---

<Layout title="Agustin Suarez">
	<main id="Inicio">
		<Nav />
		<Header />
	</main>
	<Section title="¡Hola! Soy Agustín">
		<Card>
			<p
				class="text-black dark:text-gray-200 font-display dark:font-light text-xl transition duration-500"
			>
				Estudiante apasionado por el desarrollo web. Con 21 años y
				cursando el segundo año de la Tecnicatura Superior en Desarrollo
				de Software, mi objetivo es solucionar problemas con mis
				conocimientos. Me gusta la capacidad de crear aplicaciones web
				que sean útiles, intuitivas y visualmente atractivas. Abierto a
				aprender tecnologías fuera del desarrollo web.
			</p>
		</Card>
	</Section>
	<Section title="Aptitudes.">
		<Card>
			<dl
				class="grid grid-cols-1 gap-12 md:grid-cols-3 lg:space-y-0 lg:gap-24"
			>
				<div>
					<dt class="inline-flex items-center gap-3">
						<div
							class="flex items-center justify-center text-black dark:text-white transition duration-500"
						>
							<svg
								xmlns="http://www.w3.org/2000/svg"
								class="icon icon-tabler icon-tabler-users-group"
								width="20"
								height="20"
								viewBox="0 0 24 24"
								stroke-width="1.5"
								stroke="currentColor"
								fill="none"
								stroke-linecap="round"
								stroke-linejoin="round"
								><path
									stroke="none"
									d="M0 0h24v24H0z"
									fill="none"></path><path
									d="M10 13a2 2 0 1 0 4 0a2 2 0 0 0 -4 0"
								></path><path
									d="M8 21v-1a2 2 0 0 1 2 -2h4a2 2 0 0 1 2 2v1"
								></path><path
									d="M15 5a2 2 0 1 0 4 0a2 2 0 0 0 -4 0"
								></path><path d="M17 10h2a2 2 0 0 1 2 2v1"
								></path><path
									d="M5 5a2 2 0 1 0 4 0a2 2 0 0 0 -4 0"
								></path><path d="M3 13v-1a2 2 0 0 1 2 -2h2"
								></path></svg
							>
						</div>
						<p
							class="text-base font-medium font-display leading-6 text-black dark:text-white transition duration-500"
						>
							Equipo y compromiso
						</p>
					</dt>
					<dd
						class="mt-4 text-sm font-display text-black dark:text-white transition duration-500"
					>
						Soy un gran colaborador en equipo, dispuesto a aportar
						mis habilidades para alcanzar los objetivos del proyecto
						en conjunto. Me tomo muy en serio el trabajo asignado.
					</dd>
				</div>
				<div>
					<dt class="inline-flex items-center gap-3">
						<div
							class="flex items-center justify-center text-black dark:text-white transition duration-500"
						>
							<svg
								xmlns="http://www.w3.org/2000/svg"
								class="icon icon-tabler icon-tabler-bulb"
								width="20"
								height="20"
								viewBox="0 0 24 24"
								stroke-width="1.5"
								stroke="currentColor"
								fill="none"
								stroke-linecap="round"
								stroke-linejoin="round"
								><path
									stroke="none"
									d="M0 0h24v24H0z"
									fill="none"></path><path
									d="M3 12h1m8 -9v1m8 8h1m-15.4 -6.4l.7 .7m12.1 -.7l-.7 .7"
								></path><path
									d="M9 16a5 5 0 1 1 6 0a3.5 3.5 0 0 0 -1 3a2 2 0 0 1 -4 0a3.5 3.5 0 0 0 -1 -3"
								></path><path d="M9.7 17l4.6 0"></path></svg
							>
						</div>
						<p
							class="text-base font-medium font-display leading-6 text-black dark:text-white transition duration-500"
						>
							Aprendizaje y adaptación
						</p>
					</dt>
					<dd
						class="mt-4 text-sm font-display text-black dark:text-white transition duration-500"
					>
						Una de mis principales habilidades es la de aprender con
						rapidez. Me mantengo actualizado sobre las últimas
						tecnologías de desarrollo web.
					</dd>
				</div>
				<div>
					<dt class="inline-flex items-center gap-3">
						<div
							class="flex items-center justify-center text-black dark:text-white transition duration-500"
						>
							<svg
								xmlns="http://www.w3.org/2000/svg"
								class="icon icon-tabler icon-tabler-stack-front"
								width="20"
								height="20"
								viewBox="0 0 24 24"
								stroke-width="1.5"
								stroke="currentColor"
								fill="none"
								stroke-linecap="round"
								stroke-linejoin="round"
								><path
									stroke="none"
									d="M0 0h24v24H0z"
									fill="none"></path><path
									d="M12 4l-8 4l8 4l8 -4l-8 -4"
									fill="currentColor"></path><path
									d="M8 14l-4 2l8 4l8 -4l-4 -2"></path><path
									d="M8 10l-4 2l8 4l8 -4l-4 -2"></path></svg
							>
						</div>
						<p
							class="text-base font-medium font-display leading-6 text-black dark:text-white transition duration-500"
						>
							Front-end
						</p>
					</dt>
					<dd
						class="mt-4 text-sm font-display text-black dark:text-white transition duration-500"
					>
						Con sólidos conocimientos en desarrolo web, me destaco
						en HTML, CSS, JS y frameworks de CSS como Tailwind CSS y
						Bootstrap.
					</dd>
				</div>
				<div>
					<dt class="inline-flex items-center gap-3">
						<div
							class="flex items-center justify-center text-black dark:text-white transition duration-500"
						>
							<svg
								xmlns="http://www.w3.org/2000/svg"
								class="icon icon-tabler icon-tabler-stack-back"
								width="20"
								height="20"
								viewBox="0 0 24 24"
								stroke-width="1.5"
								stroke="currentColor"
								fill="none"
								stroke-linecap="round"
								stroke-linejoin="round"
								><path
									stroke="none"
									d="M0 0h24v24H0z"
									fill="none"></path><path
									d="M4 8l8 4l8 -4l-8 -4z"></path><path
									d="M12 16l-4 -2l-4 2l8 4l8 -4l-4 -2l-4 2z"
									fill="currentColor"></path><path
									d="M8 10l-4 2l4 2m8 0l4 -2l-4 -2"
								></path></svg
							>
						</div>
						<p
							class="text-base font-medium font-display leading-6 text-black dark:text-white transition duration-500"
						>
							Back-end
						</p>
					</dt>
					<dd
						class="mt-4 text-sm font-display text-black dark:text-white transition duration-500"
					>
						Uso de tecnologías del lado del servidor con simpleza,
						usando entornos como Node.js y PHP, tambiem frameworks
						como Laravel y Astro.
					</dd>
				</div>
				<div>
					<dt class="inline-flex items-center gap-3">
						<div
							class="flex items-center justify-center text-black dark:text-white transition duration-500"
						>
							<svg
								xmlns="http://www.w3.org/2000/svg"
								class="icon icon-tabler icon-tabler-database"
								width="20"
								height="20"
								viewBox="0 0 24 24"
								stroke-width="1.5"
								stroke="currentColor"
								fill="none"
								stroke-linecap="round"
								stroke-linejoin="round"
								><path
									stroke="none"
									d="M0 0h24v24H0z"
									fill="none"></path><path
									d="M12 6m-8 0a8 3 0 1 0 16 0a8 3 0 1 0 -16 0"
								></path><path d="M4 6v6a8 3 0 0 0 16 0v-6"
								></path><path d="M4 12v6a8 3 0 0 0 16 0v-6"
								></path></svg
							>
						</div>
						<p
							class="text-base font-medium font-display leading-6 text-black dark:text-white transition duration-500"
						>
							Conocimientos básicos en SQL
						</p>
					</dt>
					<dd
						class="mt-4 text-sm font-display text-black dark:text-white transition duration-500"
					>
						Logrando consultas, funciones de agragación, filtrar,
						modificar datos, joins y subconsultas.
					</dd>
				</div>
				<div id="likeded">
					<dt class="inline-flex items-center gap-3">
						<div
							class="flex items-center justify-center text-black dark:text-white transition duration-500"
						>
							<svg
								xmlns="http://www.w3.org/2000/svg"
								class="icon icon-tabler icon-tabler-heart-filled hidden"
								width="20"
								height="20"
								viewBox="0 0 24 24"
								stroke-width="1.5"
								stroke="currentColor"
								fill="none"
								stroke-linecap="round"
								stroke-linejoin="round"
								id="liked"
								><path
									stroke="none"
									d="M0 0h24v24H0z"
									fill="none"></path><path
									d="M6.979 3.074a6 6 0 0 1 4.988 1.425l.037 .033l.034 -.03a6 6 0 0 1 4.733 -1.44l.246 .036a6 6 0 0 1 3.364 10.008l-.18 .185l-.048 .041l-7.45 7.379a1 1 0 0 1 -1.313 .082l-.094 -.082l-7.493 -7.422a6 6 0 0 1 3.176 -10.215z"
									stroke-width="0"
									fill="currentColor"></path></svg
							>

							<svg
								xmlns="http://www.w3.org/2000/svg"
								class="icon icon-tabler icon-tabler-heart"
								width="20"
								height="20"
								viewBox="0 0 24 24"
								stroke-width="1.5"
								stroke="currentColor"
								fill="none"
								stroke-linecap="round"
								stroke-linejoin="round"
								id="like"
								><path
									stroke="none"
									d="M0 0h24v24H0z"
									fill="none"></path><path
									d="M19.5 12.572l-7.5 7.428l-7.5 -7.428a5 5 0 1 1 7.5 -6.566a5 5 0 1 1 7.5 6.572"
								></path></svg
							>
						</div>
						<p
							class="text-base font-medium font-display leading-6 text-black dark:text-white transition duration-500"
						>
							Comunidad Dev
						</p>
					</dt>
					<dd
						class="mt-4 text-sm font-display text-black dark:text-white transition duration-500"
					>
						Formo parte de la comunidad de programadores. La
						colaboración y el intercambio de conocimientos son
						fundamentales para el crecimiento individual y
						colectivo.
					</dd>
				</div>
			</dl>
		</Card>
	</Section>

	<div id="Projects">
		<Section title="Proyectos.">
			<div
				class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4 pt-12"
			>
				<Project
					href="/"
					imageUrl="/Portafolio/tecStore.png"
					title="TecStore"
					date="2024"
					description="Primera E-commerce, aprendiendo nuevas tecnologías, usando MVC y explayando conocimientos en SQL."
				>
					<span
						class="inline-block rounded py-2 text-xs text-zinc-800 dark:text-white lg:py-1 transition duration-500"
						><svg
							xmlns="http://www.w3.org/2000/svg"
							class="icon icon-tabler icon-tabler-brand-laravel"
							width="24"
							height="24"
							viewBox="0 0 24 24"
							stroke-width="1.5"
							stroke="currentColor"
							fill="none"
							stroke-linecap="round"
							stroke-linejoin="round"
							><path stroke="none" d="M0 0h24v24H0z" fill="none"
							></path><path
								d="M3 17l8 5l7 -4v-8l-4 -2.5l4 -2.5l4 2.5v4l-11 6.5l-4 -2.5v-7.5l-4 -2.5z"
							></path><path d="M11 18v4"></path><path
								d="M7 15.5l7 -4"></path><path d="M14 7.5v4"
							></path><path d="M14 11.5l4 2.5"></path><path
								d="M11 13v-7.5l-4 -2.5l-4 2.5"></path><path
								d="M7 8l4 -2.5"></path><path d="M18 10l4 -2.5"
							></path></svg
						></span
					>
					<span
						class="inline-block rounded py-2 text-xs text-zinc-800 dark:text-white lg:py-1 transition duration-500"
						><svg
							xmlns="http://www.w3.org/2000/svg"
							class="icon icon-tabler icon-tabler-brand-tailwind"
							width="24"
							height="24"
							viewBox="0 0 24 24"
							stroke-width="1.5"
							stroke="currentColor"
							fill="none"
							stroke-linecap="round"
							stroke-linejoin="round"
							><path stroke="none" d="M0 0h24v24H0z" fill="none"
							></path><path
								d="M11.667 6c-2.49 0 -4.044 1.222 -4.667 3.667c.933 -1.223 2.023 -1.68 3.267 -1.375c.71 .174 1.217 .68 1.778 1.24c.916 .912 2 1.968 4.288 1.968c2.49 0 4.044 -1.222 4.667 -3.667c-.933 1.223 -2.023 1.68 -3.267 1.375c-.71 -.174 -1.217 -.68 -1.778 -1.24c-.916 -.912 -1.975 -1.968 -4.288 -1.968zm-4 6.5c-2.49 0 -4.044 1.222 -4.667 3.667c.933 -1.223 2.023 -1.68 3.267 -1.375c.71 .174 1.217 .68 1.778 1.24c.916 .912 1.975 1.968 4.288 1.968c2.49 0 4.044 -1.222 4.667 -3.667c-.933 1.223 -2.023 1.68 -3.267 1.375c-.71 -.174 -1.217 -.68 -1.778 -1.24c-.916 -.912 -1.975 -1.968 -4.288 -1.968z"
							></path></svg
						></span
					><span
						class="inline-block rounded py-2 text-xs text-zinc-800 dark:text-white lg:py-1 transition duration-500"
						><svg
							xmlns="http://www.w3.org/2000/svg"
							class="icon icon-tabler icon-tabler-brand-javascript"
							width="24"
							height="24"
							viewBox="0 0 24 24"
							stroke-width="1.5"
							stroke="currentColor"
							fill="none"
							stroke-linecap="round"
							stroke-linejoin="round"
							><path stroke="none" d="M0 0h24v24H0z" fill="none"
							></path><path d="M20 4l-2 14.5l-6 2l-6 -2l-2 -14.5z"
							></path><path d="M7.5 8h3v8l-2 -1"></path><path
								d="M16.5 8h-2.5a.5 .5 0 0 0 -.5 .5v3a.5 .5 0 0 0 .5 .5h1.423a.5 .5 0 0 1 .495 .57l-.418 2.93l-2 .5"
							></path></svg
						></span
					>
				</Project>

				<Project
					href="/"
					imageUrl="/Portafolio/portafolio_img.png"
					title="Portafolio Personal"
					date="2024"
					description="Primeros pasos con astro y aprendiendo a hacer un portafolio legible y funcional."
				>
					<span
						class="inline-block rounded py-2 text-xs text-zinc-800 dark:text-white lg:py-1 transition duration-500"
						><svg
							width="24"
							height="24"
							viewBox="0 0 32.00 32.00"
							xmlns="http://www.w3.org/2000/svg"
							fill="#ffffff"
							stroke="#ffffff"
							stroke-width="1.44"
						>
							<g id="SVGRepo_bgCarrier" stroke-width="0"></g>

							<g
								id="SVGRepo_tracerCarrier"
								stroke-linecap="round"
								stroke-linejoin="round"></g>

							<g id="SVGRepo_iconCarrier">
								<title>file_type_astro</title>

								<path
									d="M5.9,18.847a7.507,7.507,0,0,0-.572,2.624,3.265,3.265,0,0,0,.551,1.553,7.427,7.427,0,0,0,2.093,1.681L13.1,28.119A7.332,7.332,0,0,0,15.2,29.287a3.239,3.239,0,0,0,1.5,0,7.381,7.381,0,0,0,2.117-1.16L24,24.711a7.512,7.512,0,0,0,2.117-1.688,3.241,3.241,0,0,0,.55-1.563,7.515,7.515,0,0,0-.587-2.643L21.547,4.551a3.973,3.973,0,0,0-.54-1.3,1.733,1.733,0,0,0-.7-.51,3.972,3.972,0,0,0-1.4-.122H13.005a3.932,3.932,0,0,0-1.4.125,1.713,1.713,0,0,0-.7.512,3.94,3.94,0,0,0-.535,1.3L5.9,18.848Zm13.24-13.2a3.329,3.329,0,0,1,.441,1.093l3.892,12.784a16.168,16.168,0,0,0-4.653-1.573L16.291,9.391a.331.331,0,0,0-.513-.169.323.323,0,0,0-.119.169l-2.5,8.557a16.14,16.14,0,0,0-4.674,1.579L12.393,6.743a3.281,3.281,0,0,1,.442-1.094,1.458,1.458,0,0,1,.582-.43,3.31,3.31,0,0,1,1.175-.1h2.793a3.314,3.314,0,0,1,1.176.1,1.454,1.454,0,0,1,.583.432ZM16.127,21.06a5.551,5.551,0,0,0,3.4-.923,2.8,2.8,0,0,1-.207,2.182A3.938,3.938,0,0,1,17.773,23.8c-.674.428-1.254.8-1.254,1.787a2.079,2.079,0,0,0,.209.914,2.49,2.49,0,0,1-1.535-2.3v-.061c0-.683,0-1.524-.962-1.524a1.028,1.028,0,0,0-.391.077,1.021,1.021,0,0,0-.552.551,1.03,1.03,0,0,0-.079.391,3.769,3.769,0,0,1-.988-2.644,4.206,4.206,0,0,1,.175-1.248c.4.757,1.92,1.32,3.731,1.32Z"
									style="fill:#00000000;fill-rule:evenodd"
								></path>
							</g>
						</svg></span
					>
					<span
						class="inline-block rounded py-2 text-xs text-zinc-800 dark:text-white lg:py-1 transition duration-500"
						><svg
							xmlns="http://www.w3.org/2000/svg"
							class="icon icon-tabler icon-tabler-brand-tailwind"
							width="24"
							height="24"
							viewBox="0 0 24 24"
							stroke-width="1.5"
							stroke="currentColor"
							fill="none"
							stroke-linecap="round"
							stroke-linejoin="round"
							><path stroke="none" d="M0 0h24v24H0z" fill="none"
							></path><path
								d="M11.667 6c-2.49 0 -4.044 1.222 -4.667 3.667c.933 -1.223 2.023 -1.68 3.267 -1.375c.71 .174 1.217 .68 1.778 1.24c.916 .912 2 1.968 4.288 1.968c2.49 0 4.044 -1.222 4.667 -3.667c-.933 1.223 -2.023 1.68 -3.267 1.375c-.71 -.174 -1.217 -.68 -1.778 -1.24c-.916 -.912 -1.975 -1.968 -4.288 -1.968zm-4 6.5c-2.49 0 -4.044 1.222 -4.667 3.667c.933 -1.223 2.023 -1.68 3.267 -1.375c.71 .174 1.217 .68 1.778 1.24c.916 .912 1.975 1.968 4.288 1.968c2.49 0 4.044 -1.222 4.667 -3.667c-.933 1.223 -2.023 1.68 -3.267 1.375c-.71 -.174 -1.217 -.68 -1.778 -1.24c-.916 -.912 -1.975 -1.968 -4.288 -1.968z"
							></path></svg
						></span
					><span
						class="inline-block rounded py-2 text-xs text-zinc-800 dark:text-white lg:py-1 transition duration-500"
						><svg
							xmlns="http://www.w3.org/2000/svg"
							class="icon icon-tabler icon-tabler-brand-javascript"
							width="24"
							height="24"
							viewBox="0 0 24 24"
							stroke-width="1.5"
							stroke="currentColor"
							fill="none"
							stroke-linecap="round"
							stroke-linejoin="round"
							><path stroke="none" d="M0 0h24v24H0z" fill="none"
							></path><path d="M20 4l-2 14.5l-6 2l-6 -2l-2 -14.5z"
							></path><path d="M7.5 8h3v8l-2 -1"></path><path
								d="M16.5 8h-2.5a.5 .5 0 0 0 -.5 .5v3a.5 .5 0 0 0 .5 .5h1.423a.5 .5 0 0 1 .495 .57l-.418 2.93l-2 .5"
							></path></svg
						></span
					>
				</Project>
			</div>
		</Section>
	</div>
	<div id="Contact">
		<Section title="¿Te gustaría saber más?">
			<div class="max-w-screen-xl mx-auto px-5">
				<div class="mt-16 text-center">
					<h1
						class="text-4xl lg:text-5xl font-semibold italic font-display lg:tracking-tight text-gray-800 dark:text-gray-400 transition duration-500"
					>
						Contactame.
					</h1>
				</div>
				<div class="grid md:grid-cols-2 gap-10 mx-auto max-w-4xl mt-16">
					<div>
						<h2
							class="font-medium font-display text-2xl text-gray-800 dark:text-gray-400 transition duration-500"
						>
							Información de Contacto.
						</h2>
						<div class="mt-5">
							<div
								class="flex items-center mt-2 space-x-2 text-gray-900 dark:text-gray-600 transition duration-500"
							>
								<svg
									xmlns="http://www.w3.org/2000/svg"
									class="icon icon-tabler icon-tabler-map-pin text-gray-900 dark:text-gray-400 w-5 h-5 transition duration-500"
									viewBox="0 0 24 24"
									stroke-width="1.5"
									stroke="currentColor"
									fill="none"
									stroke-linecap="round"
									stroke-linejoin="round"
									><path
										stroke="none"
										d="M0 0h24v24H0z"
										fill="none"></path><path
										d="M9 11a3 3 0 1 0 6 0a3 3 0 0 0 -6 0"
									></path><path
										d="M17.657 16.657l-4.243 4.243a2 2 0 0 1 -2.827 0l-4.244 -4.243a8 8 0 1 1 11.314 0z"
									></path></svg
								>
								<span
									>Ruta N34, Lavalle, Mendoza (Argentina)</span
								>
							</div>

							<div
								class="flex items-center mt-2 space-x-2 text-gray-900 dark:text-gray-600 transition duration-500"
							>
								<svg
									xmlns="http://www.w3.org/2000/svg"
									class="icon icon-tabler icon-tabler-mail text-gray-900 dark:text-gray-400 w-5 h-5 transition duration-500"
									viewBox="0 0 24 24"
									stroke-width="1.5"
									stroke="currentColor"
									fill="none"
									stroke-linecap="round"
									stroke-linejoin="round"
									><path
										stroke="none"
										d="M0 0h24v24H0z"
										fill="none"></path><path
										d="M3 7a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v10a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-10z"
									></path><path d="M3 7l9 6l9 -6"></path></svg
								>
								<a> titoagustinsuarez6@gmail.com</a>
							</div><div
								class="flex items-center mt-2 space-x-2 text-gray-900 dark:text-gray-600 transition duration-500"
							>
								<svg
									xmlns="http://www.w3.org/2000/svg"
									class="icon icon-tabler icon-tabler-phone text-gray-900 dark:text-gray-400 w-5 h-5 transition duration-500"
									viewBox="0 0 24 24"
									stroke-width="1.5"
									stroke="currentColor"
									fill="none"
									stroke-linecap="round"
									stroke-linejoin="round"
									><path
										stroke="none"
										d="M0 0h24v24H0z"
										fill="none"></path><path
										d="M5 4h4l2 5l-2.5 1.5a11 11 0 0 0 5 5l1.5 -2.5l5 2v4a2 2 0 0 1 -2 2a16 16 0 0 1 -15 -15a2 2 0 0 1 2 -2"
									></path></svg
								>
								<a>+54 (261) 2649 474</a>
							</div>
						</div>
						<h2
							class="font-medium font-display text-2xl text-gray-800 dark:text-gray-400 pt-12 transition duration-500"
						>
							Redes.
						</h2>
						<div class="mt-5">
							<a
								href="https://www.instagram.com/agus_suarez1203/"
							>
								<div
									class="flex items-center mt-2 space-x-2 text-gray-900 dark:text-gray-600 transition duration-500"
								>
									<svg
										class="icon icon-tabler icon-tabler-brand-instagram text-gray-900 dark:text-gray-400 w-5 h-5 transition duration-500"
										viewBox="0 0 24 24"
										stroke-width="1.5"
										stroke="currentColor"
										fill="none"
										stroke-linecap="round"
										stroke-linejoin="round"
										><path
											stroke="none"
											d="M0 0h24v24H0z"
											fill="none"></path><path
											d="M4 4m0 4a4 4 0 0 1 4 -4h8a4 4 0 0 1 4 4v8a4 4 0 0 1 -4 4h-8a4 4 0 0 1 -4 -4z"
										></path><path
											d="M12 12m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0"
										></path><path d="M16.5 7.5l0 .01"
										></path></svg
									>
									<span>agus_suarez1203</span>
								</div>
							</a>

							<a href="https://github.com/Agus-tito">
								<div
									class="flex items-center mt-2 space-x-2 text-gray-900 dark:text-gray-600 transition duration-500"
								>
									<svg
										class="icon icon-tabler icon-tabler-brand-github text-gray-900 dark:text-gray-400 w-5 h-5 transition duration-500"
										viewBox="0 0 24 24"
										stroke-width="1.5"
										stroke="currentColor"
										fill="none"
										stroke-linecap="round"
										stroke-linejoin="round"
										><path
											stroke="none"
											d="M0 0h24v24H0z"
											fill="none"></path><path
											d="M9 19c-4.3 1.4 -4.3 -2.5 -6 -3m12 5v-3.5c0 -1 .1 -1.4 -.5 -2c2.8 -.3 5.5 -1.4 5.5 -6a4.6 4.6 0 0 0 -1.3 -3.2a4.2 4.2 0 0 0 -.1 -3.2s-1.1 -.3 -3.5 1.3a12.3 12.3 0 0 0 -6.2 0c-2.4 -1.6 -3.5 -1.3 -3.5 -1.3a4.2 4.2 0 0 0 -.1 3.2a4.6 4.6 0 0 0 -1.3 3.2c0 4.6 2.7 5.7 5.5 6c-.6 .6 -.6 1.2 -.5 2v3.5"
										></path></svg
									>
									<span>Agus-tito</span>
								</div>
							</a>

							<a href="https://www.linkedin.com/in/agustito-suarez">
								<div
									class="flex items-center mt-2 space-x-2 text-gray-900 dark:text-gray-600 transition duration-500"
								>
									<svg
										class="icon icon-tabler icon-tabler-brand-linkedin text-gray-900 dark:text-gray-400 w-5 h-5 transition duration-500"
										viewBox="0 0 24 24"
										stroke-width="1.5"
										stroke="currentColor"
										fill="none"
										stroke-linecap="round"
										stroke-linejoin="round"
										><path
											stroke="none"
											d="M0 0h24v24H0z"
											fill="none"></path><path
											d="M4 4m0 2a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2z"
										></path><path d="M8 11l0 5"></path><path
											d="M8 8l0 .01"></path><path
											d="M12 16l0 -5"></path><path
											d="M16 16v-3a2 2 0 0 0 -4 0"
										></path></svg
									>
									<span>Agustin Suarez</span>
								</div>
							</a>
						</div>
					</div>

					<div
						class="dark:bg-zinc-900/40 border border-zinc-800 p-5 md:p-8 rounded-2xl mb-5"
					>
						<form
							action="https://api.web3forms.com/submit"
							method="POST"
						>
							<input
								type="hidden"
								name="access_key"
								value="a09b281b-3258-4c77-96b8-74ae7988fae7"
							/>
							<input
								type="hidden"
								name="from_name"
								value="Mi Portafolio"
							/>
							<input
								type="checkbox"
								name="botcheck"
								id=""
								style="display: none;"
							/>

							<input
								type="hidden"
								name="redirect"
								value="https://Portafolio/thanks"
							/>
							<div class="mb-5" data-astro-cid-uwnxe3i2="">
								<input
									type="text"
									placeholder="Nombre Completo"
									class="w-full px-4 py-3 border text-gray-400 border-zinc-800 placeholder:text-slate-700 dark:placeholder:text-slate-400 rounded-md outline-none focus:ring-2 focus:ring-violet-400 bg-zinc-400 dark:bg-zinc-900 transition duration-500"
									name="name"
									required
								/>
							</div>
							<div class="mb-5" data-astro-cid-uwnxe3i2="">
								<input
									id="email_address"
									type="email"
									placeholder="Correo Electrónico"
									name="email"
									required
									class="w-full px-4 py-3 border text-gray-400 border-zinc-800 placeholder:text-slate-700 dark:placeholder:text-slate-400 rounded-md outline-none focus:ring-2 focus:ring-violet-400 bg-zinc-400 dark:bg-zinc-900 transition duration-500 after:bg-red-300"
								/>
							</div>
							<div class="mb-3" data-astro-cid-uwnxe3i2="">
								<textarea
									name="message"
									required
									placeholder="Tu Mensaje"
									class="w-full px-4 py-3 border text-gray-400 border-zinc-800 placeholder:text-slate-700 dark:placeholder:text-slate-400 rounded-md outline-none focus:ring-2 focus:ring-violet-400 bg-zinc-400 dark:bg-zinc-900 transition duration-500"
								></textarea>
							</div>
							<button
								type="submit"
								class="rounded-2xl text-center w-full px-6 py-3 bg-violet-600 text-white hover:bg-violet-800 transition duration-500"
								>Enviar Mensaje
							</button>
						</form>
						<script
							src="https://web3forms.com/client/script.js"
							async
							defer></script>
					</div>
				</div>
			</div>
		</Section>
	</div>
	<Footer />
</Layout>
