---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro";
import Section from "../components/Section.astro";
---

<Layout title="Agustin Suarez">
	<main id="Inicio">
        
		<Nav />

        <section class="relative overflow-hidden">
            <div
                class="absolute inset-x-0 top-0 h-96 rotate-180 text-gray-800  dark:text-gray-300/20 opacity-60 [mask-image:linear-gradient(to_bottom,transparent,white)] transition duration-500"
            >
                <svg class="absolute inset-0 h-full w-full"
                    ><defs
                        ><pattern
                            id="grid-pattern"
                            width="32"
                            height="32"
                            patternUnits="userSpaceOnUse"
                            x="50%"
                            y="100%"
                            patternTransform="translate(0 -1)"
                            ><path d="M0 32V.5H32" fill="none" stroke="currentColor"
                            ></path></pattern
                        ></defs
                    ><rect width="100%" height="100%" fill="url(#grid-pattern)"
                    ></rect></svg
                >
            </div>
            <div
                class="px-8 pt-32 pb-24 mx-auto md:px-12 lg:px-36 lg:pt-40 max-w-7xl relative"
            >
                <div class="text-center mx-auto my-24">
                    <span class="text-4xl md:block text-zinc-800 dark:text-zinc-400 font-display transition duration-500">Email Enviado</span>
                    <h1 class="text-5xl font-display font-bold italic text-violet-900 dark:text-violet-500 pt-3">¡Gracias por Contactarme!</h1>
                </div>
                <div class="text-center mx-auto">
                    <a href="/Portafolio/">
                        <h1 class="border border-zinc-800 rounded-2xl p-2 w-28 mx-auto text-2xl md:block text-zinc-800 dark:text-zinc-400 font-display transition duration-500">Volver</h1>
                    </a>
                </div>
            </div>
        </section>
	</main>
    
	<Footer />
</Layout>
