---

---

<footer aria-labelledby="footer-heading">
    <div class="px-8 py-6 mx-auto md:px-12 lg:px-36 max-w-7xl">
        <div>
            <div
                class="flex justify-between gap-y-12 pt-16 pb-6 flex-row items-center lg:py-16"
            >
                <div class="md:mx-auto lg:text-center">
                    <div class="flex items-center">
                        <div class="md:mx-auto md:text-center">
                            <div class="text-zinc-950 dark:text-white items-center flex transition duration-500">
                                <div class="lg:mx-auto lg:text-center">
                                    <p class="mt-1 text-sm text-onyx-400">
                                        Inspirado en:
                                    </p>
                                    <p
                                        class="font-semibold lg:mx-auto italic lg:text-4xl text-2xl font-display"
                                    >
                                        aubergine.
                                    </p><p class="mt-1 text-sm text-onyx-400">
                                        by Michael Andreuzza.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <nav class="mt-11 flex flex-row gap-8 text-zinc-950 dark:text-slate-100 transition duration-500">
                        <a
                            class="relative -my-2 -mx-3 rounded-lg px-3 py-2 text-sm text-zinc-900 dark:text-zinc-100 transition-colors delay-150 hover:text-zinc-800 dark:hover:text-white hover:delay-[0ms] hover:bg-zinc-600/20 dark:hover:bg-zinc-900 "
                            href="https://www.instagram.com/agus_suarez1203/"
                            ><span class="relative z-10"><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-instagram" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 4m0 4a4 4 0 0 1 4 -4h8a4 4 0 0 1 4 4v8a4 4 0 0 1 -4 4h-8a4 4 0 0 1 -4 -4z" /><path d="M12 12m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0" /><path d="M16.5 7.5l0 .01" /></svg></span>
                        </a>
                        <a
                            class="relative -my-2 -mx-3 rounded-lg px-3 py-2 text-sm text-zinc-900 dark:text-zinc-100 transition-colors delay-150 hover:text-zinc-800 dark:hover:text-white hover:delay-[0ms] hover:bg-zinc-600/20 dark:hover:bg-zinc-900 "
                            href="https://github.com/Agus-tito"
                            ><span class="relative z-10"><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-github" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M9 19c-4.3 1.4 -4.3 -2.5 -6 -3m12 5v-3.5c0 -1 .1 -1.4 -.5 -2c2.8 -.3 5.5 -1.4 5.5 -6a4.6 4.6 0 0 0 -1.3 -3.2a4.2 4.2 0 0 0 -.1 -3.2s-1.1 -.3 -3.5 1.3a12.3 12.3 0 0 0 -6.2 0c-2.4 -1.6 -3.5 -1.3 -3.5 -1.3a4.2 4.2 0 0 0 -.1 3.2a4.6 4.6 0 0 0 -1.3 3.2c0 4.6 2.7 5.7 5.5 6c-.6 .6 -.6 1.2 -.5 2v3.5" /></svg></span>
                        </a>
                        <a
                            class="relative -my-2 -mx-3 rounded-lg px-3 py-2 text-sm text-zinc-900 dark:text-zinc-100 transition-colors delay-150 hover:text-zinc-800 dark:hover:text-white hover:delay-[0ms] hover:bg-zinc-600/20 dark:hover:bg-zinc-900 "
                            href="www.linkedin.com/in/agustito-suarez"
                            ><span class="relative z-10"><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-linkedin" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 4m0 2a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2z" /><path d="M8 11l0 5" /><path d="M8 8l0 .01" /><path d="M12 16l0 -5" /><path d="M16 16v-3a2 2 0 0 0 -4 0" /></svg></span>
                        </a>
                        <a
                            class="relative -my-2 -mx-3 rounded-lg px-3 py-2 text-sm text-zinc-900 dark:text-zinc-100 transition-colors delay-150 hover:text-zinc-800 dark:hover:text-white hover:delay-[0ms] hover:bg-zinc-600/20 dark:hover:bg-zinc-900 "
                            href="https://twitter.com/Agusss01396289"
                            ><span class="relative z-10"><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-twitter" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M22 4.01c-1 .49 -1.98 .689 -3 .99c-1.121 -1.265 -2.783 -1.335 -4.38 -.737s-2.643 2.06 -2.62 3.737v1c-3.245 .083 -6.135 -1.395 -8 -4c0 0 -4.182 7.433 4 11c-1.872 1.247 -3.739 2.088 -6 2c3.308 1.803 6.913 2.423 10.034 1.517c3.58 -1.04 6.522 -3.723 7.651 -7.742a13.84 13.84 0 0 0 .497 -3.753c0 -.249 1.51 -2.772 1.818 -4.013z" /></svg></span>
                        </a>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</footer>
